@font-face {
	font-family: 'Muller-Regular'; 
	src: url("../fonts/muller-regular.ttf"); 
}

@font-face {
	font-family: 'BebasNeue-Bold'; 
	src: url("../fonts/bebasneue-bold.ttf") 
}

@font-face {
	font-family: 'Muller-Medium'; 
	src: url("../fonts/muller-medium.ttf") 
}

@font-face {
	font-family: 'Muller-Bold'; 
	src: url("../fonts/muller-medium.ttf") 
}

@font-face {
	font-family: 'Muller-Light'; 
	src: url("../fonts/muller-light.ttf") 
}

