@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Italic.woff2") format("woff2"), url("../fonts/GothamPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

#toTop {
  background: rgba(71, 71, 71, 0.3) url("../img/icons/arrow-up.png") center no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  -webkit-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out; }
  #toTop:hover {
    background: #474747 url("") center no-repeat; }

.select2-selection {
  font-size: 18px;
  font-weight: 500;
  outline: none;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  border: none !important;
  padding-left: 25px;
  -webkit-box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
  height: 60px !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .select2-selection__arrow {
    top: 50% !important;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .select2-selection__placeholder {
    color: #000 !important; }

.select2-dropdown {
  -webkit-box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: 500; }

.select2-results__option {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.4);
  height: 40px;
  padding-left: 30px; }
  .select2-results__option--highlighted {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#0909ff), to(#5a337f)) !important;
    background: -webkit-linear-gradient(left, #0909ff 0%, #5a337f 100%) !important;
    background: -o-linear-gradient(left, #0909ff 0%, #5a337f 100%) !important;
    background: linear-gradient(90deg, #0909ff 0%, #5a337f 100%) !important; }

.calc {
  padding: 120px 0;
  min-height: 500px;
  color: #000;
  font-weight: 500; }
  .calc__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    margin-bottom: 80px; }
  .calc__subtitle {
    font-size: 24px;
    margin-top: 70px; }
  .calc__text {
    font-size: 18px;
    color: #929292;
    margin: 30px 0; }
  .calc-select {
    width: 310px;
    min-height: 60px; }
    .calc-select option {
      outline: none;
      border: none;
      padding-left: 25px; }
  .calc-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .calc-form input {
      -webkit-box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 2px 12.61px 0.39px rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      outline: none; }
    .calc-form--checkbox {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .calc-form--checkbox input {
        display: none; }
        .calc-form--checkbox input:checked + label:before {
          content: "";
          color: #000000;
          background: transparent url("../img/icons/radio-checked.png") center no-repeat;
          font-size: 30px;
          text-align: center;
          line-height: 25px; }
      .calc-form--checkbox label {
        font-size: 18px; }
      .calc-form--checkbox label.calc-radio {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 13px; }
        .calc-form--checkbox label.calc-radio:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          bottom: 50%;
          -webkit-transform: translateY(50%);
              -ms-transform: translateY(50%);
                  transform: translateY(50%);
          background: transparent;
          outline: none;
          border: 2px solid #000;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
      .calc-form--checkbox .checkbox-wrapper {
        width: 190px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
    .calc-form--number {
      width: 30%; }
      .calc-form--number input {
        width: 80px;
        height: 35px;
        text-align: center; }
      .calc-form--number .radio-wrapper {
        margin-bottom: 10px; }
    .calc-form--price {
      width: 100%;
      margin-bottom: 70px; }
    .calc-form--callback {
      width: 100%; }
      .calc-form--callback input {
        display: block;
        width: 270px;
        padding: 15px;
        margin-bottom: 20px; }
    .calc-form__submit {
      cursor: pointer;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      background: #fff url("../img/btn_bg.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
      .calc-form__submit:hover {
        background: #fff url("../img/btn_bg_hover.png") center no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
  .calc__label {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .calc .calc-select {
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .calc .calc-form--checkbox {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 20px 0; }
    .calc .calc-form--number {
      width: 100%;
      margin: 20px 0; }
      .calc .calc-form--number .radio-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 90%; }
    .calc .calc-form--price {
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .calc__title {
      font-size: 24px; } }

#finalPrice {
  padding: 0 10px; }
  #finalPrice::after {
    content: ' грн'; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Gotham Pro;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ol, ul {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  a:hover {
    text-decoration: none; }

.header {
  min-height: 700px;
  padding: 33px 0;
  background: #fff url("../img/header_bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .header__logo img {
    width: 146px;
    height: 120px; }
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .header-nav--mobile {
      position: fixed;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      right: -285px;
      z-index: 1000;
      border: 3px solid rgba(0, 0, 0, 0.6);
      -webkit-border-radius: 3px;
              border-radius: 3px;
      width: 285px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      top: 70px;
      background-color: #000000; }
      .header-nav--mobile .header__link {
        margin: 10px 0;
        width: 100%;
        border: none;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
        .header-nav--mobile .header__link:hover {
          background-color: rgba(0, 0, 0, 0.8); }
        .header-nav--mobile .header__link:last-child {
          padding: 0; }
        .header-nav--mobile .header__link a {
          display: block;
          width: 100%;
          text-align: center; }
  .header__link {
    color: #fff;
    font-size: 14px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 155px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500; }
    .header__link:first-child {
      border-left: 0; }
    .header__link:last-child {
      border-right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 20px; }
  .header__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px; }
  .header-left {
    height: 430px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px; }
  .header-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-column {
    width: 120px;
    height: 100px;
    text-align: center;
    font-style: italic; }
    .header-column img {
      -o-object-fit: contain;
         object-fit: contain; }
    .header-column span {
      display: block;
      margin: 15px 0;
      font-size: 14px;
      line-height: 17px; }
  .header-text {
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    display: block; }
    .header-text img {
      margin: 0 5px; }
  .header-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__phone {
    display: block;
    width: 8px;
    height: 6px;
    background: transparent url("../img/icons/arrow.png") center no-repeat;
    position: relative; }
    .header__phone:hover {
      background: transparent url("../img/icons/arrow-hover.png") center no-repeat; }
  .header__secphone {
    display: none;
    position: absolute;
    top: 20px;
    font-size: 14px;
    background: rgba(50, 46, 69, 0.7);
    -webkit-border-radius: 25%;
            border-radius: 25%;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s; }
  .header .form {
    margin-top: -50px;
    width: 387px; }
  @media screen and (max-width: 991px) {
    .header .form {
      margin: 30px 0;
      width: 380px; }
    .header-right {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header-nav {
      display: none; } }
  @media screen and (max-width: 768px) {
    .header {
      background: #fff url("../img/header_bg-mob.jpg") -495px no-repeat; }
      .header__logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 50px; }
        .header__logo img {
          width: 100%;
          height: 100%; }
      .header__title {
        font-size: 30px;
        line-height: 36px; }
      .header-text {
        font-size: 14px;
        line-height: 19px; }
      .header-left {
        padding-top: 0; }
      .header-column {
        width: 120px;
        height: 100px; }
        .header-column img {
          width: 40%;
          height: 40%; }
        .header-column span {
          font-size: 12px;
          line-height: 17px; } }

.form {
  padding: 40px;
  background: #fff url() 0 0 no-repeat;
  -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47); }
  .form__title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 22px; }
  .form__subtitle {
    color: #929292;
    font-size: 14px;
    margin: 15px 0;
    line-height: 17px; }
  .form__input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #929292;
    padding-left: 35px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 4px 8.64px 0.36px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 8.64px 0.36px rgba(0, 0, 0, 0.4); }
  .form__phone {
    margin-bottom: 25px; }
  .form__submit {
    cursor: pointer;
    display: block;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    outline: 0;
    position: relative;
    text-align: center;
    height: 50px;
    z-index: 0;
    -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
    background: #fff url("../img/btn_bg.png") center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .form__submit:hover {
      background: #fff url("../img/btn_bg_hover.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    .form__submit:disabled {
      background: -webkit-gradient(linear, left top, right top, from(#4a4949), to(#5a337f));
      background: -webkit-linear-gradient(left, #4a4949 0%, #5a337f 100%);
      background: -o-linear-gradient(left, #4a4949 0%, #5a337f 100%);
      background: linear-gradient(90deg, #4a4949 0%, #5a337f 100%);
      color: #b3b3b3; }
  .form-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    margin-top: 10px; }
  .form__checkbox {
    display: none; }
    .form__checkbox:checked + label:before {
      content: "";
      color: #000000;
      background: transparent url("../img/icons/mark.png") center no-repeat;
      font-size: 30px;
      text-align: center;
      line-height: 25px; }
  .form label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px; }
    .form label:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      bottom: -10px;
      -webkit-box-shadow: 0px 4px 8.64px 0.36px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 8.64px 0.36px rgba(0, 0, 0, 0.4);
      background: transparent;
      outline: none;
      border: none;
      margin: 20px 0; }
  .form__label {
    color: #929292;
    font-size: 14px;
    line-height: 17px; }
    .form__label a {
      color: #6464ff; }

.manufacturers {
  background: #f7f6f6;
  -webkit-background-size: contain;
          background-size: contain;
  padding: 165px 0 120px;
  color: #000; }
  .manufacturers-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 250px; }
  .manufacturers .title-box {
    width: 410px; }
  .manufacturers-box--everfocus {
    width: 33%;
    height: 60px;
    text-align: left; }
  .manufacturers-box--hikvision {
    width: 33%;
    height: 54px;
    text-align: center; }
  .manufacturers-box--bosch {
    width: 33%;
    height: 60px;
    text-align: right; }
  .manufacturers-box--axis {
    width: 20%;
    height: 64px;
    text-align: left; }
  .manufacturers-box--pelco {
    width: 30%;
    height: 38px;
    text-align: center; }
  .manufacturers-box--dahua {
    width: 30%;
    height: 68px;
    text-align: center; }
  .manufacturers-box--mobotix {
    width: 20%;
    height: 93px;
    text-align: right; }
  @media screen and (max-width: 991px) {
    .manufacturers-box {
      text-align: center;
      margin: 20px 0;
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .manufacturers-box {
      text-align: center;
      margin: 25px 0;
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .manufacturers .title-box {
      top: -35px; } }
  @media screen and (max-width: 400px) {
    .manufacturers-box img {
      width: 65%; } }

.advantages {
  min-height: 500px;
  padding: 165px 0 120px; }
  .advantages-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 50px; }
  .advantages__box {
    width: 208px;
    height: 208px;
    background: -webkit-gradient(linear, left bottom, left top, from(#5a337f), to(#0909ff));
    background: -webkit-linear-gradient(bottom, #5a337f 0%, #0909ff 100%);
    background: -o-linear-gradient(bottom, #5a337f 0%, #0909ff 100%);
    background: linear-gradient(0deg, #5a337f 0%, #0909ff 100%);
    -webkit-border-radius: 20%;
            border-radius: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages__title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 105px;
    width: 65%;
    font-weight: 500;
    line-height: 28px; }
  .advantages__subtitle {
    color: #929292;
    font-size: 16px;
    height: 115px;
    line-height: 19px;
    font-weight: 500; }
  .advantages .form__submit {
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47); }
    .advantages .form__submit:hover {
      color: inherit; }
  .advantages .title-box {
    width: 490px; }
  @media screen and (max-width: 991px) {
    .advantages__title {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 768px) {
    .advantages__title {
      height: 18vw; }
    .advantages .title-box {
      top: -35px; } }

.works {
  min-height: 820px;
  padding: 120px 0;
  background: #fff url("../img/works_bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .works-left {
    padding-left: 70px; }
  .works__title {
    font-size: 32px;
    font-weight: bold; }
  .works-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
  .works-column {
    width: 230px;
    height: 240px;
    padding: 10px;
    margin-top: 65px; }
    .works-column--app {
      background: transparent url("../img/icons/app.png") 50px 0px no-repeat; }
    .works-column--tools {
      background: transparent url("../img/icons/tools.png") 50px 0px no-repeat; }
    .works-column--price {
      background: transparent url("../img/icons/price_hov.png") 50px 0px no-repeat;
      cursor: pointer; }
    .works-column--sec {
      background: transparent url("../img/icons/sec.png") 50px 0px no-repeat; }
  .works__number {
    font-weight: bold;
    font-size: 36px;
    padding-top: 50px; }
  .works__text {
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
    line-height: 22px; }
  .works .form {
    margin-top: 100px;
    width: 380px; }
    .works .form__title {
      width: 85%;
      margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    .works .form {
      margin: 0; }
      .works .form__title {
        width: 100%; }
    .works-left {
      padding-left: 0px; }
    .works-column {
      width: 50%;
      margin: 30px 0; }
    .works-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 768px) {
    .works-column {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 120px; }
      .works-column--app {
        background: transparent url("../img/icons/app.png") 45px 10px no-repeat; }
      .works-column--tools {
        background: transparent url("../img/icons/tools.png") 45px 10px no-repeat; }
      .works-column--price {
        background: transparent url("../img/icons/price_hov.png") 45px 10px no-repeat;
        cursor: pointer; }
      .works-column--sec {
        background: transparent url("../img/icons/sec.png") 60px 10px no-repeat; }
    .works__title {
      text-align: center; }
    .works__text {
      padding-top: 0;
      padding-left: 130px; }
    .works__number {
      padding: 0; } }

.question {
  padding: 125px 0 120px;
  background: #f7f6f6; }
  .question .title-box {
    top: -20px;
    width: 600px; }
  .question__title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0; }
  .question__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    color: #929292; }

.reasons {
  padding: 165px 0 120px; }
  .reasons .title-box {
    width: 700px; }
  .reasons .subtitle {
    width: 73%; }
  .reasons-container {
    padding: 30px 0 90px; }
  .reasons-wrapper {
    min-height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .reasons-wrapper img {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
              box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
      width: 100%;
      opacity: 1; }
      .reasons-wrapper img:hover {
        opacity: .85; }
  .reasons__title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
    width: 60%; }
  .reasons__subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #929292;
    width: 300px;
    width: 60%;
    line-height: 19px; }
  .reasons .form__submit {
    width: 500px;
    height: 70px;
    -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .reasons .form__submit:hover {
      color: inherit; }
  @media screen and (max-width: 991px) {
    .reasons-wrapper {
      min-height: 300px; }
    .reasons .form__submit {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .reasons .container-mobile {
      max-width: 768px;
      margin: 0;
      padding: 0; }
      .reasons .container-mobile .row {
        margin: 0;
        padding: 0; }
      .reasons .container-mobile .col-12 {
        margin: 0;
        padding: 0; }
    .reasons .subtitle {
      width: 100%; }
    .reasons .title-box {
      top: -35px; } }

.reviews {
  min-height: 700px;
  padding: 115px 0 120px;
  border-bottom: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0909ff), to(#5a337f));
  background: -webkit-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: -o-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: linear-gradient(90deg, #0909ff 0%, #5a337f 100%);
  position: relative; }
  .reviews__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center; }
  .reviews-slider {
    margin-bottom: 50px;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text; }
  .reviews-container {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    outline: none; }
  .reviews-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reviews-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reviews-link {
    display: block;
    margin-left: 20px;
    outline: 0; }
    .reviews-link--inst {
      width: 15px;
      height: 15px;
      background: transparent url("../img/icons/insta.png") center no-repeat; }
      .reviews-link--inst:hover {
        background: transparent url("../img/icons/insta-hover.png") center no-repeat; }
    .reviews-link--facebook {
      width: 8px;
      height: 15px;
      background: transparent url("../img/icons/facebook-f-brands.png") center no-repeat; }
      .reviews-link--facebook:hover {
        background: transparent url("../img/icons/facebook-f-brands-hover.png") center no-repeat; }
  .reviews__name {
    font-size: 24px;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews__text {
    font-size: 18px;
    font-weight: 500;
    color: #929292;
    padding-top: 20px;
    line-height: 22px; }
  .reviews .form__submit {
    color: #000;
    background: #fff url("../img/button.png") center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
    width: 270px;
    height: 70px; }
    .reviews .form__submit:hover {
      background: #fff url("../img/btn_bg_hover.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      color: inherit; }
  @media screen and (max-width: 768px) {
    .reviews-content {
      max-width: 500px; }
    .reviews-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .reviews-button {
      margin-top: 50px; }
    .reviews__photo {
      width: 100%; }
    .reviews__text {
      text-align: center; }
    .reviews__name {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.decision {
  padding: 115px 0 120px;
  background: -webkit-gradient(linear, left top, right top, from(#0909ff), to(#5a337f));
  background: -webkit-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: -o-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: linear-gradient(90deg, #0909ff 0%, #5a337f 100%); }
  .decision-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
    position: relative; }
  .decision__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px; }
  .decision__subtitle {
    text-align: center;
    max-width: 490px;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 22px; }
  .decision button.form__submit {
    color: #000;
    background: #fff url("../img/button.png") center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 20px 54.72px 2.28px rgba(0, 0, 0, 0.47);
    width: 370px;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    outline: 0; }
    .decision button.form__submit:hover {
      background: #fff url("../img/btn_bg_hover.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      color: inherit; }
  @media screen and (max-width: 991px) {
    .decision button.form__submit {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .decision button.form__submit {
      width: 100%; } }

.footer {
  padding: 120px 0; }
  .footer .form {
    width: 370px; }
  .footer .form__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 26px; }
  .footer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer-right--mobile {
      display: none;
      margin-bottom: 40px; }
    @media (max-width: 991px) {
      .footer-right {
        display: none; } }
  .footer-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    line-height: 26px; }
  .footer__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #929292; }
  .footer__phone {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 22px;
    display: block;
    width: 170px; }
  .footer-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 195px;
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__link {
    color: #000;
    display: block; }
    .footer__link--tg {
      width: 37px;
      height: 34px;
      background: #fff url("../img/icons/tg.png") center no-repeat; }
      .footer__link--tg:hover {
        background: #fff url("../img/icons/tg_hov.png") center no-repeat; }
    .footer__link--fb {
      width: 18px;
      height: 34px;
      background: #fff url("../img/icons/fb.png") center no-repeat; }
      .footer__link--fb:hover {
        background: #fff url("../img/icons/fb_hov.png") center no-repeat; }
    .footer__link--vb {
      width: 37px;
      height: 34px;
      background: #fff url("../img/icons/vb.png") center no-repeat; }
      .footer__link--vb:hover {
        background: #fff url("../img/icons/vb_hov.png") center no-repeat; }
    .footer__link--ws {
      width: 37px;
      height: 34px;
      background: #fff url("../img/icons/ws.png") center no-repeat; }
      .footer__link--ws:hover {
        background: #fff url("../img/icons/ws_hov.png") center no-repeat; }
  .footer-logo--mobile {
    display: none; }
  .footer img {
    width: 220px;
    margin: auto;
    height: 200px; }
  @media screen and (max-width: 991px) {
    .footer-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .form {
      margin-bottom: 50px; }
    .footer-right--mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .footer-logo--mobile {
      display: block; }
    .footer-contacts {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer__text {
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .footer .form {
      width: 290px; } }

.subfooter {
  padding: 120px 0 50px;
  background: -webkit-gradient(linear, left top, right top, from(#0909ff), to(#5a337f));
  background: -webkit-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: -o-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: linear-gradient(90deg, #0909ff 0%, #5a337f 100%); }
  .subfooter .line {
    background: -webkit-gradient(linear, left top, right top, from(#5a337f), to(#0909ff));
    background: -webkit-linear-gradient(left, #5a337f 0%, #0909ff 100%);
    background: -o-linear-gradient(left, #5a337f 0%, #0909ff 100%);
    background: linear-gradient(90deg, #5a337f 0%, #0909ff 100%);
    height: 3px;
    width: 100%; }
  .subfooter-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px; }
  .subfooter--calc {
    padding: 60px 0 50px; }
  .subfooter-wrapper {
    height: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px; }
  .subfooter__title {
    font-size: 32px;
    font-weight: bold;
    width: 110%; }
  .subfooter__text {
    font-size: 18px;
    font-weight: 500;
    color: #929292;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 22px; }
    .subfooter__text:nth-child(1) {
      padding-left: 30px;
      padding-top: 10px; }
  .subfooter-policy {
    text-align: center; }
    .subfooter-policy p {
      margin-bottom: 0px; }
  @media screen and (max-width: 1200px) {
    .subfooter-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      margin: 25px 0;
      text-align: center; }
    .subfooter__title {
      width: 100%;
      margin-bottom: 10px; }
    .subfooter__text {
      height: 100%;
      display: block; }
      .subfooter__text:nth-child(1) {
        padding: 0; } }
  @media screen and (max-width: 400px) {
    .subfooter__title {
      font-size: 24px; } }

.undertitle {
  font-weight: 500;
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    .undertitle {
      font-size: 10px; } }

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3; }

.subtitle {
  font-size: 16px;
  color: #929292;
  width: 130%;
  margin: 10px 0;
  font-weight: 500;
  line-height: 19px; }
  @media screen and (max-width: 768px) {
    .subtitle {
      width: 100%;
      line-height: 17px; } }

.title-box {
  color: #000;
  position: relative;
  top: -50px;
  left: -50px;
  padding-left: 50px; }
  .title-box--grey {
    background: #f7f6f6; }
  .title-box--white {
    background: #fff; }
  @media screen and (max-width: 768px) {
    .title-box {
      width: 100% !important;
      margin-bottom: 30px; } }

.line {
  height: 5px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0909ff), to(#5a337f));
  background: -webkit-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: -o-linear-gradient(left, #0909ff 0%, #5a337f 100%);
  background: linear-gradient(90deg, #0909ff 0%, #5a337f 100%); }
  @media screen and (max-width: 768px) {
    .line {
      height: 3px; } }

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100; }

.modal {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: visible;
  left: 0;
  text-align: center;
  z-index: 200; }
  .modal--video {
    top: 100px;
    width: 655px; }
  .modal--price, .modal--gift {
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    position: fixed;
    top: 50%; }
    .modal--price .form__title, .modal--gift .form__title {
      text-align: left;
      margin-bottom: 35px; }
    .modal--price .form__submit, .modal--gift .form__submit {
      width: 100%; }
    .modal--price .form__label, .modal--gift .form__label {
      text-align: left; }
  .modal--gift {
    width: 390px;
    height: 340px; }
  .modal--price {
    height: 485px;
    width: 390px; }
  @media screen and (max-width: 768px) {
    .modal--video {
      position: fixed;
      width: 100%; }
    .modal--gift {
      width: 90%; }
    .modal--price {
      width: 90%; } }

.content {
  display: none;
  z-index: 300;
  background: #fff;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }
  .content--video {
    height: 493px; }
  .content--gift {
    padding: 0; }
  @media screen and (max-width: 768px) {
    .content--video {
      height: 100%; } }

.arrow {
  display: block;
  width: 59px;
  height: 59px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  top: 270px; }
  .arrow--left {
    right: 70px;
    background: transparent url("../img/icons/left-arrow.png") center no-repeat; }
    .arrow--left:hover {
      background: transparent url("../img/icons/left-arrow-hover.png") center no-repeat; }
  .arrow--right {
    right: 10px;
    background: transparent url("../img/icons/right-arrow.png") center no-repeat; }
    .arrow--right:hover {
      background: transparent url("../img/icons/right-arrow-hover.png") center no-repeat; }
  @media screen and (max-width: 768px) {
    .arrow {
      top: 450px; } }
  @media screen and (max-width: 500px) {
    .arrow {
      top: 630px; } }
  @media screen and (max-width: 400px) {
    .arrow {
      top: 590px; } }

.close_btn {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  top: -30px;
  right: -30px;
  cursor: pointer;
  background: transparent url("../img/icons/close.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  opacity: 1; }
  .close_btn:active {
    opacity: .45; }
  .close_btn:active, .close_btn:focus, .close_btn:visited {
    border: none;
    outline: none; }
  @media screen and (max-width: 768px) {
    .close_btn {
      top: -40px;
      right: 10px; } }

.header-nav--close {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  top: -20px;
  cursor: pointer;
  background: transparent url("../img/icons/close.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  opacity: 1; }
  .header-nav--close:active {
    opacity: .45; }
  .header-nav--close:active, .header-nav--close:focus, .header-nav--close:visited {
    border: none;
    outline: none; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu-phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media (min-width: 991px) {
    .menu {
      display: none; } }

.menu__icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer; }

.menu__icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fefefe;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px; }

.menu__icon span:nth-child(4) {
  top: 26px; }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.show {
  right: 0; }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 22px !important; }
  h3 {
    font-size: 18px !important; }
  p {
    font-size: 14px !important; }
  .select2-container {
    width: 100% !important; } }
