@font-face {
  font-family: Ubuntu;
  font-weight: regular;
  src: url(../fonts/Ubuntu-Regular.ttf); }

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  src: url(../fonts/Ubuntu-Bold.ttf); }

@font-face {
  font-family: Avalon;
  src: url(../fonts/Avalon-Medium.ttf); }

@font-face {
  font-family: AxureHandwriting;
  font-style: Italic;
  src: url(../fonts/AxureHandwriting-Italic.ttf); }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: static; }
  @media screen and (max-width: 768px) {
    .slick-dots {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.slick-dots li {
  width: 50px;
  height: 10px;
  margin: 10px;
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg); }

.slick-dots li button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .2; }
  .slick-dots li button:before {
    content: ""; }

.slick-dots li button:hover, .slick-dots li button:focus {
  background-color: #FFED00;
  opacity: 1; }

.slick-dots li.slick-active button {
  background-color: #FFED00;
  opacity: 1; }

* {
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  margin: 0;
  padding: 0; }

body {
  font-family: Ubuntu; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ol, ul {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

#toTop {
  background: rgba(71, 71, 71, 0.3) url("../img/icons/arrow-up.png") center no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  -webkit-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out; }
  #toTop:hover {
    background: #474747 url("../img/icons/arrow-up.png") center no-repeat; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 800px;
  background: #fff url("../img/header-bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .header-top {
    width: 80%;
    position: absolute;
    top: 0;
    z-index: 999;
    right: 30px;
    padding: 0 25px;
    background-color: #2D2A26;
    -webkit-transform: skewX(25deg);
        -ms-transform: skewX(25deg);
            transform: skewX(25deg); }
    @media screen and (max-width: 1000px) {
      .header-top {
        width: 100%; } }
  .header__box {
    position: absolute;
    width: 60px;
    height: 80px;
    background-color: #2D2A26;
    top: 0;
    right: 0px; }
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px; }
  .header__title {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 60%;
    line-height: 83px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .header__title {
        width: 100%;
        font-size: 36px; } }
  .header__subtitle {
    margin: 45px 0;
    font-size: 18px;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .header__subtitle {
        text-align: center;
        font-size: 14px; } }
  .header__btn {
    outline: 1px solid #FFED00;
    width: 150px;
    height: 50%;
    margin: 0 20px;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    text-align: center; }
    .header__btn:hover {
      background-color: #FFED00; }
      .header__btn:hover a {
        color: #2D2A26; }
    .header__btn a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      color: #FFED00;
      -webkit-transform: skewX(-25deg);
          -ms-transform: skewX(-25deg);
              transform: skewX(-25deg); }
      .header__btn a:hover {
        text-decoration: none; }
  .header__link {
    min-height: 80px;
    height: 80px;
    min-width: 100px;
    list-style-type: none;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s; }
    .header__link:hover {
      background-color: #FFED00; }
    .header__link a {
      height: 100%;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: skewX(-25deg);
          -ms-transform: skewX(-25deg);
              transform: skewX(-25deg); }
      .header__link a:hover {
        text-decoration: none;
        color: black; }
    @media screen and (max-width: 991px) {
      .header__link {
        min-width: 70px; }
        .header__link a {
          font-size: 11px; } }
    @media (min-width: 1000px) and (max-width: 1175px) {
      .header__link {
        min-height: 10px;
        height: 100%; } }
    @media screen and (max-width: 730px) {
      .header__link {
        min-height: 10px;
        height: 100%; } }
  .header-dots {
    position: absolute;
    bottom: 20px; }
    @media screen and (max-width: 768px) {
      .header-dots {
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto; } }

.content-wrapper {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  outline: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  position: absolute;
  top: 100px; }

.fixed {
  top: 10px;
  position: fixed !important; }

.title {
  color: #2D2A26;
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent url("../img/title.png") 0px center no-repeat;
  padding-left: 20px;
  padding-right: 20px; }

.subtitle {
  font-size: 16px;
  font-weight: normal;
  color: #2D2A26;
  width: 75%;
  margin: 36px 0; }

.services {
  padding: 84px 0; }
  .services-wrapper {
    position: relative;
    min-height: 390px; }
    .services-wrapper--sub .services-box:nth-child(1) {
      top: 5px;
      left: 28%;
      right: 0; }
    .services-wrapper--sub .services-box:nth-child(2) {
      left: 26%;
      top: -98%; }
    .services-wrapper--sub .services-box:nth-child(3) {
      left: 4%;
      top: 4%; }
    @media screen and (max-width: 1199px) {
      .services-wrapper--sub .services-box:nth-child(1) {
        left: 34%;
        right: 0; }
      .services-wrapper--sub .services-box:nth-child(2) {
        left: 22%;
        top: -98%; }
      .services-wrapper--sub .services-box:nth-child(3) {
        left: -4%;
        top: 4%; } }
    @media screen and (max-width: 991px) {
      .services-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .services-wrapper--sub {
      display: none;
      z-index: 999; }
      @media screen and (max-width: 991px) {
        .services-wrapper--sub {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
  .services-box {
    position: absolute;
    width: 250px;
    height: 193px;
    background: #2D2A26;
    -webkit-transform: skewX(25deg);
        -ms-transform: skewX(25deg);
            transform: skewX(25deg);
    margin: auto;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .services-box:nth-child(1) {
      top: 0;
      left: -4%;
      right: 0; }
    .services-box:nth-child(2) {
      left: 18%;
      bottom: 0;
      top: 0; }
    .services-box:nth-child(3) {
      right: 14%;
      bottom: 0;
      top: 0; }
    .services-box:nth-child(4) {
      bottom: 0;
      left: 12%;
      right: 0; }
    @media screen and (max-width: 1199px) {
      .services-box:nth-child(1) {
        top: 0;
        left: -4%;
        right: 0; }
      .services-box:nth-child(2) {
        left: 12%;
        bottom: 0;
        top: 0; }
      .services-box:nth-child(3) {
        right: 7%;
        bottom: 0;
        top: 0; }
      .services-box:nth-child(4) {
        bottom: 0;
        left: 15%;
        right: 0; } }
    @media screen and (max-width: 991px) {
      .services-box {
        position: static;
        margin: 10px auto; } }
    @media screen and (max-width: 605px) {
      .services-box {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg); } }
    .services-box--btn {
      outline: none;
      cursor: pointer;
      border: none; }
  .services-content, .services-content--hover {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .services-content--hover {
    background-color: #FFED00;
    display: none; }
    .services-content--hover .services__title, .services-content--hover .services__subtitle {
      color: #2D2A26; }
  .services__title {
    -webkit-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px; }
    @media screen and (max-width: 605px) {
      .services__title {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg); } }
  .services__logo {
    -webkit-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    @media screen and (max-width: 605px) {
      .services__logo {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg); } }
  .services__subtitle {
    -webkit-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
    color: #ffffff;
    font-size: 11px; }
    @media screen and (max-width: 605px) {
      .services__subtitle {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg); } }
