@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Gotham;
  src: local("Gotham-Book"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Gotham;
  src: local("Gotham-Medium"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Gotham;
  src: local("Gotham Bold"), local("Gotham-Bold"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Roboto Cn;
  src: local("Roboto Bold Condensed"), local("Roboto-BoldCondensed"), url("../fonts/Roboto-BoldCondensed.woff2") format("woff2"), url("../fonts/Roboto-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Open Sans;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Open Sans;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Gotham;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

#toTop {
  background: transparent url("../img/icons/arrow-up.png") center no-repeat;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none; }

.header {
  background: transparent url("../img/header.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 880px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 110px; }
  .header-top {
    outline: 1px solid #808080; }
    @media screen and (max-width: 991px) {
      .header-top {
        display: none; } }
    @media screen and (min-width: 992px) {
      .header-top--mobile {
        display: none; } }
    .header-top--mobile .icon {
      border: 1px solid white;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: transparent url("../img/icons/arrow-down.png") center no-repeat;
      top: -60px;
      left: 80%;
      z-index: 1000;
      width: 45px;
      height: 45px;
      position: relative;
      cursor: pointer; }
  .header-content, .header-scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-content {
    font-family: Gotham;
    text-transform: uppercase; }
  .header__title {
    font-size: 12vw;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: -10px;
    line-height: 1; }
    @media screen and (max-width: 991px) {
      .header__title {
        font-size: 18vw; } }
  .header__subtitle {
    text-align: center;
    font-size: 2vw;
    color: #11749e;
    letter-spacing: 20px; }
    @media screen and (max-width: 991px) {
      .header__subtitle {
        font-size: 3vw; } }

.scroll-button {
  display: block;
  background: transparent url("../img/icons/arrow-down.png") center no-repeat;
  width: 65px;
  height: 65px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .scroll-button:hover {
    opacity: .7; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo a {
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .logo a:hover {
      opacity: .7; }

.navigation, .navigation-social {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px; }
  .navigation__item, .navigation-social__item {
    width: 100px;
    list-style-type: none;
    height: 115px; }
    .navigation__item a.link-text, .navigation__item a.link-icon, .navigation-social__item a.link-text, .navigation-social__item a.link-icon {
      display: block;
      text-decoration: none;
      height: 115px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #ffffff; }
    .navigation__item a.link-text, .navigation-social__item a.link-text {
      position: relative;
      font-family: Myriad Pro;
      opacity: .7;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      .navigation__item a.link-text:hover, .navigation-social__item a.link-text:hover {
        font-size: 20px;
        opacity: 1; }
      .navigation__item a.link-text:after, .navigation-social__item a.link-text:after {
        content: "";
        position: absolute;
        width: 0%;
        bottom: 0;
        border-bottom: 5px solid rgba(14, 132, 170, 0.7);
        -webkit-transition: width .3s ease-out;
        -o-transition: width .3s ease-out;
        transition: width .3s ease-out; }
      .navigation__item a.link-text:hover:after, .navigation-social__item a.link-text:hover:after {
        width: 100%; }
    .navigation__item a.link-icon, .navigation-social__item a.link-icon {
      -webkit-transition: opacity .3s ease-out;
      -o-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
      .navigation__item a.link-icon:hover, .navigation-social__item a.link-icon:hover {
        opacity: .7; }

.navigation--mobile {
  z-index: 999;
  width: 200px;
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); }
  .navigation--mobile .navigation__item--mobile {
    list-style-type: none;
    height: 30px;
    margin: 5px 0; }
    .navigation--mobile .navigation__item--mobile a {
      color: #ffffff;
      text-decoration: none; }
  .navigation--mobile .navigation-social {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.agency {
  background-color: #11749e;
  min-height: 740px;
  padding: 100px 0; }

.title {
  font-size: 37.5px;
  text-transform: uppercase;
  font-family: Gotham;
  text-align: center;
  font-weight: 500;
  height: 185px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #222222; }
  .title--w {
    background: transparent url("../img/icons/w.png") center no-repeat; }
  .title--b {
    background: transparent url("../img/icons/b.png") center no-repeat; }
  .title--t {
    background: transparent url("../img/icons/t.png") center no-repeat; }

.subtitle {
  font-size: 30px;
  text-align: center;
  padding: 20px 0; }
  .subtitle--black {
    color: #222222; }

.feature {
  padding: 90px 0; }
  .feature-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Gotham;
    padding: 10px;
    padding-top: 50px; }
  .feature__circle {
    display: block;
    width: 133px;
    height: 133px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .feature__circle--write {
      background: #2e85aa url("../img/icons/Write.png") center no-repeat; }
    .feature__circle--search {
      background: #2e85aa url("../img/icons/search.png") center no-repeat; }
    .feature__circle--says {
      background: #2e85aa url("../img/icons/says.png") center no-repeat; }
  .feature__title {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    text-transform: uppercase; }
  .feature__text {
    font-size: 15px;
    text-align: center; }

.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .blog-page {
    min-height: 445px;
    width: 50%; }
    .blog-page--black {
      background: #222222 url("../img/blackbg.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    .blog-page--white {
      background: #222222 url("../img/whitebg.png") center no-repeat;
      color: #222222;
      -webkit-background-size: cover;
              background-size: cover; }
    @media screen and (max-width: 991px) {
      .blog-page {
        width: 100%; }
        .blog-page--photo_one {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1; } }
  .blog-box {
    padding: 10% 75px 10% 75px; }
  .blog__date {
    font-size: 13px; }
  .blog__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px; }
  .blog__text {
    font-size: 15px; }
  .blog img {
    -o-object-fit: cover;
       object-fit: cover; }

.campaign {
  padding: 90px 0;
  color: #222222; }
  .campaign-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    text-align: center; }
    .campaign-box img {
      width: 100%; }
  .campaign__title {
    color: #11749e;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px 0;
    font-size: 18px;
    width: 101%; }
  .campaign__text {
    font-size: 15px; }

.writes {
  min-height: 360px;
  background: #11749e url() 0 0 no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .writes-row {
    font-size: 15px;
    padding: 30px 50px 30px 100px;
    background: transparent url("../img/icons/write-big.png") left center no-repeat; }

.advantages {
  min-height: 850px;
  padding: 90px 0;
  background: #222222 url("../img/advbg.png") 0 0 no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .advantages-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 991px) {
      .advantages-box {
        padding: 20px 0;
        text-align: center; } }
    .advantages-box img {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      width: 320px; }
      @media screen and (max-width: 991px) {
        .advantages-box img {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1; } }
  .advantages__title {
    font-size: 25px;
    text-transform: uppercase; }
  .advantages__text {
    font-size: 15px;
    margin: 20px 0; }

.quality {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 165px; }
  .quality__text {
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 500;
    display: block;
    background-color: #11749e; }
    .quality__text:nth-child(1) {
      width: 80%; }
    .quality__text:nth-child(2) {
      width: 90%; }
    .quality__text:nth-child(3) {
      width: 100%; }
    @media screen and (max-width: 991px) {
      .quality__text {
        width: 100% !important; } }

.team {
  padding: 90px 0; }
