@font-face {
  font-family: Raleway;
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Raleway;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Raleway; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 991px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.header {
  z-index: 10;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  width: 100%;
  background-color: rgba(9, 8, 12, 0.9);
  position: fixed; }
  @media screen and (max-width: 1072px) {
    .header {
      display: none; } }
  @media screen and (max-width: 768px) {
    .header {
      height: 100%; } }
  .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1072px) {
      .header-wrapper {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        min-height: 200px; } }
    @media screen and (max-width: 768px) {
      .header-wrapper {
        padding-top: 120px; } }
  .header:hover {
    opacity: 1; }

.logo {
  cursor: pointer;
  width: 251px;
  height: 106px;
  color: #fff;
  position: fixed;
  z-index: 999;
  left: 50px;
  background: transparent url("../img/logo-bg.png") center no-repeat; }
  @media screen and (max-width: 991px) {
    .logo {
      margin: 0 auto; } }
  @media screen and (max-width: 1072px) {
    .logo {
      left: 0;
      right: 0;
      margin: auto; } }
  .logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 822px;
  margin-left: 270px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  @media screen and (max-width: 1072px) {
    .navigation {
      width: 100%;
      margin: 0; } }
  @media screen and (max-width: 768px) {
    .navigation {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; } }
  .navigation__item {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .navigation__item:after {
      content: "";
      position: absolute;
      opacity: 0;
      bottom: 0;
      width: 50%;
      top: 0;
      border-top: 2px solid #ff0036;
      border-bottom: 2px solid #ff0036;
      -webkit-transition: opacity .3s ease-out;
      -o-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
      @media screen and (max-width: 1072px) {
        .navigation__item:after {
          border-top: none; } }
    .navigation__item:hover:after {
      opacity: 1; }
    @media screen and (max-width: 768px) {
      .navigation__item {
        height: 30px;
        margin: 10px 0;
        width: 100%; }
        .navigation__item:after {
          width: 100%;
          opacity: 1; } }

.main {
  height: 630px;
  background: #fff url("../img/main-bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.why-box {
  text-align: center; }

.why-text {
  outline: none;
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  margin: 50px 0; }

a.arrow {
  width: 40px;
  height: 30px;
  display: block;
  top: 35%;
  z-index: 1;
  position: absolute;
  background: 11px no-repeat; }
  a.arrow:hover {
    cursor: pointer;
    background-position: -31px; }
  a.arrow-prev {
    left: -3%;
    background-image: url("../img/icons/left.png"); }
  a.arrow-next {
    right: -3%;
    background-image: url("../img/icons/right.png"); }

.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px; }
  .title span.pink {
    color: #ff0036; }
  .title--white {
    color: #fff; }
  .title--black {
    color: #262626; }

.notActive {
  opacity: 0; }

.active {
  opacity: 1; }

.btn {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  background-color: #131313;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out; }
  .btn:hover {
    background-color: #ff0036; }

.about {
  min-height: 1180px;
  padding: 90px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.dot {
  width: 560px;
  outline: 1px solid #e7e7e7;
  cursor: pointer;
  margin: 15px 0; }
  .dot-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f7f7f7;
    outline: 1px solid #e7e7e7;
    height: 45px;
    font-size: 20px;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out; }
    .dot-header--active {
      color: #ff0036; }
  .dot__icon {
    display: inline-block;
    background: transparent url("../img/icons/dot.png") center no-repeat;
    width: 60px;
    outline: 1px solid #e7e7e7;
    height: 100%; }
    .dot__icon--active {
      background: transparent url("../img/icons/dot-active.png") center no-repeat; }
  .dot__title {
    display: inline-block;
    padding: 10px;
    width: 100%; }
  .dot-content {
    display: none;
    padding: 15px; }
