@font-face {
  font-family: Raleway;
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Raleway;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Raleway; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 991px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.header {
  width: 100%;
  background-color: rgba(9, 8, 12, 0.9);
  position: fixed; }
  .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px; }
    @media screen and (max-width: 1072px) {
      .header-wrapper {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 200px; } }

.logo {
  cursor: pointer;
  width: 251px;
  height: 106px;
  color: #fff;
  position: fixed;
  z-index: 999;
  left: 50px;
  background: transparent url("../img/logo-bg.png") center no-repeat; }
  @media screen and (max-width: 991px) {
    .logo {
      margin: 0 auto; } }
  @media screen and (max-width: 1072px) {
    .logo {
      left: 0;
      right: 0;
      margin: auto; } }
  .logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 822px;
  margin-left: 270px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  @media screen and (max-width: 1072px) {
    .navigation {
      width: 100%;
      margin: 0; } }
  .navigation__item {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 125px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .navigation__item:after {
      content: "";
      position: absolute;
      opacity: 0;
      bottom: 0;
      width: 50%;
      top: 0;
      border-top: 2px solid #ff0036;
      border-bottom: 2px solid #ff0036;
      -webkit-transition: opacity .3s ease-out;
      -o-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
      @media screen and (max-width: 1072px) {
        .navigation__item:after {
          border-top: none; } }
    .navigation__item:hover:after {
      opacity: 1; }

.main {
  height: 630px;
  background: #fff url("../img/main-bg.png") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.why-box {
  text-align: center; }

.why-text {
  outline: none;
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  margin: 50px 0; }

a.arrow {
  width: 40px;
  height: 30px;
  display: block;
  top: 35%;
  z-index: 999;
  position: absolute;
  background: 11px no-repeat; }
  a.arrow:hover {
    cursor: pointer;
    background-position: -31px; }
  a.arrow-prev {
    left: -3%;
    background-image: url("../img/icons/left.png"); }
  a.arrow-next {
    right: -3%;
    background-image: url("../img/icons/right.png"); }

.title {
  font-weight: bold;
  font-size: 30px;
  color: #fff; }
  .title span.pink {
    color: #ff0036; }
